<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Product Management</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link  th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



</head>
<body>
<div class="header">
  <a href="#default" class="logo"></a>
  <div class="header-right">
    <a class="active">
Airline IT Solutions</a>
  </div>
</div>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>PRODUCT <b>MANAGEMENT</b></h2></div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CATEGORY</th>
                        <th>CATEGORYTYPE</th>
                        <th>NAME</th>
                        <th>STATUS</th>
                        <th>COUNT</th>
                        <th>PRICE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
               
                <tbody class="tbody-td">
                    <tr th:each="product:${productModel}" class="productRows">
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.id}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.category}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.categoryType}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.name}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.status}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.count}"></td>
                        <td><input type="text" readonly="readonly" style="background-color:#e8e9ed" th:value="${product.price}"></td>
                        <td>
                      
                          <a href="#" class="delete" title="Delete" data-toggle="modal"  th:attr="data-id=${product.getId()}" data-target="#deleteModal">
                          <i class="material-icons">&#xE872;</i></a>
                              <a href="#" class="edit"  data-target="#editModal" 
                               th:attr="
                               data-id=${product.getId()},
                               data-category=${product.getCategory()},
                               data-categorytype=${product.getCategoryType()},
                               data-name=${product.getName()},
                               data-status=${product.getStatus()},
                               data-count=${product.getCount()},
                               data-price=${product.getPrice()}
                               "
                               title="Edit" data-toggle="modal"> <i class="material-icons">&#xE254;</i></a>  
                        </td>
                    </tr>
                     
                </tbody>
                
            </table>
            <div class="clearfix">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New Product</button>
            </div>
        </div>
    </div>  
</div>   
</body>
<!--------------------------------------------------------------DELETE POPUP MODAL ----------------------------------------------------->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DELETE PRODUCT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Are you sure delete this product?</p>
      </div>
      <div class="modal-footer">
      <form th:action="@{/delete}" method="post">
        <button type="submit" class="btn btn-danger" id="delete" name="deletebyId">Delete</button>
        </form>
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------------------------------------------------------------>
<!--------------------------------------------------------------EDIT MODAL ----------------------------------------------------->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">PRODUCT EDIT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="postResultDiv">
      </div>
      <div class="modal-body">
             <form id=productForm th:object="${product}">
              <div class="form-group">
               <label for="productid">Product ID</label>
                 <input type="text" class="form-control" id="productid" required="required" aria-describedby="productid" readonly="readonly" style="background-color:#dddddd" th:field="*{id}" >
              </div>
              <div class="form-group">
               <label for="category">Category</label>
                 <input type="text" class="form-control" id="category" required="required"  maxlength="64"  aria-describedby="category" th:field="*{category}" >
              </div>
              <div class="form-group">
               <label for="categoryType">CategoryType</label>
                 <input type="text" class="form-control" id="categoryType" required="required" maxlength="64" aria-describedby="categorytype" th:field="*{categoryType}">
              </div>
              <div class="form-group">
               <label for="name">Name</label>
                 <input type="text" class="form-control"  id="name" required="required" maxlength="128" aria-describedby="name" th:field="*{name}">
              </div>
              <div class="form-group">
               <label for="status">Status</label>
                 <select class="browser-default custom-select" id="status"  th:field="*{status}" required>
                   <option value="Y">Y</option>
                   <option value="N">N</option>
                 </select>
              </div>
              <div class="form-group">
               <label for="count">Count</label>
                 <input type="number" step="1" class="form-control" id="count"  max="99999999999" required="required" aria-describedby="count" th:field="*{count}">
              </div>
              <div class="form-group">
               <label for="price">Price</label>
                 <input type="number" step="0.00001" max="99999999999" class="form-control" required="required" id="price" aria-describedby="price" th:field="*{price}">
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
              <div class="form-group" id="editResult">
              
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->

 <!--------------------------------------------------------------------- ADD NEW MODAL ------------------------------------------------------------------->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PRODUCT ADD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form th:action="@{/add}" th:object="${product}" method="post">
              <div class="form-group">
               <label for="productid">Product ID</label>
                 <input type="number" required="required" class="form-control" aria-describedby="productid" max="99999999999" th:field="*{id}" >
                 <small id="productid" class="form-text text-muted">Please do not enter any previously entered id</small>
                   <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
              </div>
              <div class="form-group">
               <label for="category">Category</label>
                 <input type="text" required="required" class="form-control" maxlength="64" aria-describedby="category" th:field="*{category}"  >
              </div>
              <div class="form-group">
               <label for="categorytype">CategoryType</label>
                 <input type="text" required="required" class="form-control" maxlength="64" aria-describedby="categorytype" th:field="*{categoryType}" >
              </div>
              <div class="form-group">
               <label for="name">Name</label>
                 <input type="text" required="required" class="form-control"maxlength="128" aria-describedby="name" th:field="*{name}" >
              </div>
              <div class="form-group">
               <label for="status">Status</label>
                 <select class="browser-default custom-select" th:field="*{status}" required>
                   <option value="Y">Y</option>
                   <option value="N">N</option>
                 </select>
              </div>
              <div class="form-group">
               <label for="count">Count</label>
                 <input type="number" step="1" required="required" max="99999999999" class="form-control" aria-describedby="count" th:field="*{count}">
              </div>
              <div class="form-group">
               <label for="price">Price</label>
                 <input type="number" step="0.00001" max="99999999999" required="required" class="form-control" aria-describedby="price" th:field="*{price}">
              </div>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
<script th:src="@{/js/setValueEditModal.js}" type="text/javascript"></script>
<script th:src="@{/js/ajax.js}" type="text/javascript"></script>



</html>